.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
background-image: url('https://cdn.pixabay.com/photo/2022/07/15/05/16/kenya-7322371_1280.jpg');
    background-size: cover;
    
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.formStyle {
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
}

.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.error {
  color: red;
}
@media (max-width: 768px) {
  .formStyle {
    max-width: 100%;
  }
}
